nav {
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.14);
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.section-margin {
  margin-bottom: 10px;
}

.cover {
  height: 120px;
  background-image: url("/img/ecommerce.png");
  background-size: cover;
  background-position: left;
}

.display-settings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  background-color: #f2f2f2;
  font-size: 1rem;
}
.display-settings .sort-by-label {
  min-width: 55px;
}
.display-settings select {
  height: 25px;
  background-color: white;
  border: none;
  outline: none;
}
.display-settings .sort-by-select {
  font-size: 1rem;
}

@keyframes center-spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.products .product {
  border: 1px solid #e2e0e0;
  padding: 10px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.products .product:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.products .product-info {
  cursor: pointer;
}
.products .product-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1/1.5;
  overflow: hidden;
  margin-bottom: 20px;
}
.products img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50%;
  object-position: 50%;
}
.products .details {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 20px;
}
.products .rating-star {
  font-size: 0.9rem;
  margin-right: 0.1rem;
  display: inline-block;
}
.products .rating-star.colored--golden {
  color: gold;
}
.products .rating-star.colored--grey {
  color: rgb(228, 227, 227);
}
.products .title {
  font-weight: 400;
  font-size: 1rem;
}
.products .stock {
  margin: 5px 0 10px;
  font-size: 1rem;
  opacity: 0.6;
  color: var(--accent-color);
}
.products .price {
  margin: 10px 0 0;
  display: flex;
  gap: 5px;
  align-items: center;
}
.products .price sup {
  font-size: 0.9rem;
}
.products .price .old {
  text-decoration: line-through;
  margin-left: 0.3em;
  font-size: 1rem;
  opacity: 0.6;
}
.products .price .current {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--primary-color);
}
.products .price .discount-label {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  color: var(--primary-color);
  font-weight: 400;
  background-color: rgba(255, 165, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  padding: 3px 6px;
}
.products .free-shipping {
  opacity: 0.6;
  font-size: 0.95rem;
  margin-bottom: 5px;
}
.products .description {
  line-height: 1.7;
  margin: 10px 0;
}
.products .bottom-product-bar {
  width: 100%;
  height: 40px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.products .cart-icon {
  color: #fff;
}
.products .cart-icon.hidden {
  display: none;
}
.products .add-to-cart {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: width 0.3s ease-in-out;
}
.products .add-to-cart.active {
  display: flex;
}
.products .add-to-cart-spinner-wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  display: none;
  position: relative;
}
.products .add-to-cart-spinner-wrapper.active {
  display: block;
}
.products .add-to-cart-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  animation: center-spin 1s linear infinite;
}
.products .quantity-wrapper {
  position: relative;
  display: none;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  border: 1px solid #ccc;
}
.products .quantity-wrapper.active {
  display: flex;
}
.products .quantity-wrapper input {
  width: 50px;
  height: 100%;
  text-align: center;
  border: none;
  color: #333;
  font-size: 1rem;
  -moz-appearance: textfield;
  display: block;
}
.products .quantity-wrapper input::-webkit-outer-spin-button,
.products .quantity-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.products .quantity-wrapper input:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}
.products .quantity-wrapper button {
  height: 100%;
  width: 40px;
  border: none;
  background: #f0f0f0;
  color: #333;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .quantity-wrapper button:hover {
  background: #e0e0e0;
}
.products .quantity-wrapper button.decrease {
  left: 0;
  border-right: 1px solid #ccc;
}
.products .quantity-wrapper button.increase {
  right: 0;
  border-left: 1px solid #ccc;
}
.products .quantity-wrapper button:disabled {
  background: #f8f8f8;
  cursor: not-allowed;
  opacity: 0.5;
}
.products .quantity-wrapper button:disabled:hover {
  background: #f8f8f8;
}
.products .quantity-wrapper-spinner-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6901960784);
  position: absolute;
  display: none;
}
.products .quantity-wrapper-spinner-wrapper.active {
  display: block;
}
.products .quantity-wrapper-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.3rem;
  color: var(--primary-color);
  animation: center-spin 1s linear infinite;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto 20px 0;
  width: -moz-fit-content;
  width: fit-content;
}
.pagination.pagination--bottom {
  margin: 50px auto 50px;
}
.pagination.pagination--top {
  margin-left: auto;
  margin-right: 0;
  margin-top: 0;
}
.pagination .page-btn-prev,
.pagination .page-btn-next {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 5px 10px;
  color: #333;
}
.pagination .page-btn-prev:disabled,
.pagination .page-btn-next:disabled {
  color: #ccc;
  cursor: not-allowed;
}
.pagination .page-btn-prev:not(:disabled):hover,
.pagination .page-btn-next:not(:disabled):hover {
  color: #666;
}
.pagination .next-page-icon {
  font-size: 1.5rem;
}
.pagination .pages {
  display: flex;
  gap: 5px;
}
.pagination .page-number {
  width: 45px;
  height: 40px;
  border: 1px solid #ccc;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.pagination .page-number:hover:not(.active) {
  background: #f5f5f5;
}
.pagination .page-number.active {
  color: var(--primary-hover-color);
  border-color: var(--primary-hover-color);
  cursor: default;
} /*# sourceMappingURL=index.css.map */
